$text-color: #263D42;
$highlight-color: #8e6c88;
$primary-bold-color: #80CED7;
$secondary-bold-color: #63C7B2;
$scroll-color: #D8BFD8;
$primary-bg-color: #F8F6F0;
$secondary-bg-color: #FFFF;

// breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;