@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;

.header {
    background-color: $primary-bold-color;
    height: 5rem;
    padding: 1rem 0;
    // position: sticky;
    // top: 0;
    // z-index: 10;

    &__container {
        width: 100%;
        height: 100%;
        @include flex-full(row, center, space-evenly);
        @include container;

        @include tablet {
            justify-content: space-between;
        }
    }

    &__link {
        font-size: 1.25rem;
        color: $text-color;

        &:hover {
            color: $primary-bg-color;
        }

        @include tablet {
            font-size: 1.75rem;
        }
    }
}