@use "../../styles/partials/global";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.writing {
    min-height: calc(100vh - 15rem);
    background-color: $primary-bg-color;

    @include tablet {
        min-height: calc(100vh - 13rem);
    }

    &__container {
        @include flex-full(column, center, center);
        @include container;
    }


    &__title {
        color: $text-color;

        &--upper {
            text-transform: uppercase;
        }
    }


    &__block {
        padding: 2rem 0;
        background-color: $primary-bg-color;

        &--even {
            background-color: $secondary-bg-color;
        }
    }

    &__link {
        padding: 0.75rem;
        color: $highlight-color;

        @include tablet {
            font-size: 1.25rem;
        }

        &:hover {
            color: $text-color;
        }
    }

    &__entry {
        gap: 2rem;
        margin-bottom: 3rem;
        width: 12.5rem;
        @include flex-align(column, center);

        @include tablet {
                width: 80%;
        }
  
        &--even {

            @include tablet {
                flex-direction: row;
            }
        }

        &--odd {

            @include tablet {
                flex-direction: row-reverse;
                justify-self: flex-end;
            }
        }
    }
        &__image {
            width: 12.5rem;
            object-fit: cover;
            object-position: bottom;
            height: 9.375rem;
            border-radius: .5rem;
            box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);

            &--top {
                object-position: top;
            }

            &--center {
                object-position: center;
            }
        }

        &__text {
            @include flex-justify(column, center);
        }

        &__journal {
            color: $text-color;
            margin-bottom: 1rem;

            &--squish {
                @include tablet{
                width: 70%;
                }
            }
        }

        &__poem {
    
            color: $highlight-color;
            font-weight: bold;
            text-decoration: none;

            @include tablet {
                    font-size: 1.5rem;
            }

            &:hover {
                text-decoration: underline;
                color: $text-color;
            }

        }
    }
